
<div class="landing-container">
	<h1>Smooth Moove</h1>

<img src="https://b2b989d215c701ad63d7-288404e13f895703cf2798bf6ae95228.ssl.cf1.rackcdn.com/494453540356-350.png" alt="">


	<div class="login-btn">
		<a href="/login"> <button type="button" class="btn btn-dark">Login</button></a>
		<a href="/signup"> <button type="button" class="btn btn-dark">Signup</button></a>
	</div>

</div>
