<h1>LOGIN</h1>

<%= form_tag "/session", method:"get" do %>
  <label for="email">Email</label>
  <input type="email" name="email" value="">

  <label for="password">Password</label>
  <input type="password" name="password" value="">

  <button  >Submit</button>

<% end %>
