<h1>SIGN UP</h1>

<%= form_for @user, method:"post" do %>
  <h2>Fill in all the details to sign up</h2>
<div>
	<label for="">Name</label>
	<input name="name" type="text" placeholder="Full Name..">
</div>

<div>
	<label for="">email</label>
	<input name="email" type="text" placeholder="Email ..">
</div>

<div>
	<label for="">password</label>
	<input type="password" name="password" placeholder="Password ..">
</div>

	<button>Register</button>
 <% end %>



