.logged-in {
	  color: white;
    width: 100%;
    text-align: right;
}

.logo {
	height: 100px;
	width: 100px;
}

.main-container {
padding-top: 200px;
}

a, button {
	cursor: pointer;
}

.page-title {
	text-align: center;
	margin: 10px 0px 20px 0px;
	text-decoration: underline;
}

.logged-in-img{
    width: 10%;
    border-radius: 50%;
    border: 2px solid #66b3ff;
    margin: 3px;
  }