	.img {
    position: relative;
    float: left;
    width:  100%;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    margin-top: 20px;
    padding-top: 80px;
   }

   .map {
   	width: 65%;
    margin: 0 auto;
    margin-top: 40px;
   }

   button {
		width: 100%;
		margin-bottom: 10px;
   }

   .user-image-row {
   
   }