<!DOCTYPE html>
<html>
  <head>
    <title>SmoothMove</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <nav>
    <% if logged_in? %>
      <a href="/dashboard">Dashboard</a>
      <a href="/listings/new">Create Listing</a>
      <a href="/listings">All Listings</a>
      <a href="/login">Logout</a>
    <% end %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
